<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/Drag-and-Drop-File-Input.css">

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.18/sweetalert2.min.css"  crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.0.18/sweetalert2.min.js" i crossorigin="anonymous" referrerpolicy="no-referrer"></script>





    <script type="text/javascript">
    axios.get('/getUser')
      .then(response => {
        console.log('Success: ', response.data.status);
        if(response.data.status=="error")
        {
          window.location.href = '/login.html';
        }
      })
      .catch(error => {
        console.log('Error: ', error.response.status);
      });
    </script>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-share-alt"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Secure Me</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="Dashboard.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="files.html"><i class="fas fa-table"></i><span>Files</span></a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-user-circle"></i><span>Register</span></a></li> -->
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                           
                          
                           
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">{{ userdata.first_name }} {{ userdata.last_name }}</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="/dologout"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="assets/img/dogs/image2.jpeg" width="160" height="160">
                                    <div class="mb-3"><button class="btn btn-primary btn-sm" type="button"></button></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">User Settings</p>
                                        </div>
                                        <div class="card-body">
                                            <form id="save-settings" method="POST" action="javascript:savesettings()">
                                                <div class="row">
                                                   
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="email"><strong>Email Address</strong></label><input class="form-control" type="email" id="email" placeholder="user@example.com" name="email" v-model="userdata.email"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="first_name"><strong>First Name</strong></label><input class="form-control" type="text" id="first_name" placeholder="John" name="first_name" v-model="userdata.first_name"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Last Name</strong></label><input class="form-control" type="text" id="last_name" placeholder="Doe" name="last_name" v-model="userdata.last_name"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            
<!-- start of change password -->

    <!-- Button to trigger the password reset popup -->
<button type="button" class="btn btn-primary" onclick="openResetPasswordModal()">Reset Password</button>

<!-- Password reset popup -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetPasswordModalLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card row bg-white w-100">
<form class="card-body" id="reset-password-form">
  <div class="form-group mb-3">
    <label for="authenticationMethodRadio">Authentication Method:</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="authentication_method" id="passwordAuthenticationRadio" value="password" checked>
      <label class="form-check-label" for="passwordAuthenticationRadio">
        Password Authentication
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="authentication_method" id="fileAuthenticationRadio" value="file">
      <label class="form-check-label" for="fileAuthenticationRadio">
        File Authentication
      </label>
    </div>
  </div>
  <div class="form-group mb-3 password-authentication">
    <label for="newPassword">New Password</label>
    <input type="password" class="form-control" id="newPassword" name="new_password">
  </div>
  <div class="form-group mb-3 password-authentication">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirm_password">
  </div>
 
   <div class="form-group mb-3 file-login" style="display:none">
    <label>File Authentication</label>
    <div class="file-drop-area"><span class="fake-btn">Choose file</span><span class="file-msg">or drag and drop a file here</span><input class="form-control file-input" type="file" name="file_authentication" onchange="document.getElementById('selectedFileName').textContent = event.target.files[0].name">
      
      <p id="selectedFileName"></p>
    </div>

  </div>
  <button type="submit" class="btn btn-primary">Reset Password</button>
</form>






        </div>
      </div>
    </div>
  </div>
</div>



<script>
function openResetPasswordModal() {
  $('#resetPasswordModal').modal('show');
}
</script>



<!-- end of change password -->



                    </div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Drag-and-Drop-File-Input-Drag-And-Drop-Image.js"></script>
    <script src="assets/js/theme.js"></script>


<script>


function updateAction()
{
const saveSettingsForm = document.getElementById('save-settings');

saveSettingsForm.addEventListener('submit', (event) => {
  event.preventDefault();

  // Get the form data
  const formData = new FormData(saveSettingsForm);

  // Submit the form data using Axios
  axios.post('/updateUser', formData)
    .then(response => {
      // Handle successful response
      console.log(response.data);

      // Show success message using SweetAlert
      Swal.fire({
        title: 'Success',
        text: 'User record updated successfully',
        icon: 'success',
        timer: 2000,
        showConfirmButton: false
      });
    })
    .catch(error => {
      // Handle error response
      console.error(error);

      // Show error message using SweetAlert
      Swal.fire({
        title: 'Error',
        text: error.response.data.message,
        icon: 'error'
      });
    });
});


}


updateAction();

function savesettings(){
    //updateAction();
    //document.getElementById('save-settings').submit();
    const saveSettingsForm = document.getElementById('save-settings');

    const formData = new FormData(saveSettingsForm);

  // Submit the form data using Axios
  axios.post('/updateUser', formData)
    .then(response => {
      // Handle successful response
      console.log(response.data);

      // Show success message using SweetAlert
      Swal.fire({
        title: 'Success',
        text: 'User record updated successfully',
        icon: 'success',
        timer: 2000,
        showConfirmButton: false
      });
    })
    .catch(error => {
      // Handle error response
      console.error(error);

      // Show error message using SweetAlert
      Swal.fire({
        title: 'Error',
        text: error.response.data.message,
        icon: 'error'
      });
    });


}







</script>



    <script>
  // Create a new Vue instance
  var app2 = new Vue({
    // Specify the element to mount Vue instance
    el: '#wrapper',
    // Specify the data for Vue instance
    data: {
      message: 'Hello Vue!',
      userdata: []
    },
    mounted() {
      console.log("mounted")
      axios.get('/getUser')
        .then(response => {
          this.userdata = response.data.user;
          console.log(this.userdata)
          console.log('Vue.js application launched successfully!');
        })
        .catch(error => {
          console.log(error);
        });
    }
  })
  console.log('Vue.js application launched successfully!');
</script>
<script>
  // Add event listener to the radio buttons to show/hide the authentication method fields
  var passwordAuthenticationFields = document.querySelectorAll('.password-authentication');
  var fileAuthenticationFields = document.querySelector('.file-login');

  document.getElementById('passwordAuthenticationRadio').addEventListener('change', function() {
    passwordAuthenticationFields.forEach(function(field) {
      field.classList.remove('d-none');
    });
    fileAuthenticationFields.classList.add('d-none');
    fileAuthenticationFields.style.display="none";
  });

  document.getElementById('fileAuthenticationRadio').addEventListener('change', function() {
    passwordAuthenticationFields.forEach(function(field) {
      field.classList.add('d-none');
    });
    fileAuthenticationFields.classList.remove('d-none');
    fileAuthenticationFields.style.display="block";
  });

  console.log("did")
</script>
<script>
  var resetPasswordForm = document.getElementById('reset-password-form');

  resetPasswordForm.addEventListener('submit', function(event) {
    event.preventDefault();

    // Get the form data
    var formData = new FormData(resetPasswordForm);

    // Send the form data with Axios
    axios.post('/resetPassword', formData)
      .then(function(response) {
        console.log("success");
        console.log(response)
        // Display a success message with Sweet Alert
        Swal.fire({
        title: 'Success',
        text: 'Password updated successfully',
        icon: 'success',
        timer: 2000,
        showConfirmButton: false
      });
    })
    .catch(error => {
      // Handle error response
      console.error(error);

      // Show error message using SweetAlert
      Swal.fire({
        title: 'Error',
        text: error.response.data.message,
        icon: 'error'
      });
    });

  });
</script>

</body>

</html>